@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
 }

:root{
  --section-color-blue: blue; 
  /* #2857a4; */
}

 /* Header section */


 #border-header{
    height: 65vh;
    opacity: 0.9;
    background-image: url("./resume_Resources/header-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1rem;
 }

 /* Horizontal Lists */


#nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

 .horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
 }

 .horizontal-list li{
     display: inline-block;
     margin: 0px 8px 8px 0px;
 }

 .horizontal-list li a{
     color: white;
     font-size: 1.1rem;
     text-decoration: none;
 }

 .nav-menu a:hover{
    color: lightgrey;
    border-bottom: 1px solid white;

} 

.nav-menu li a{ 
    transition: color 0.5s, border-bottom 4s;
 }

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid black;
}


/* hamburger navbar list */

.dropdown-list{
    /* display: inline; */
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* background-color: #333; */
}

/* .dropdown-list li{
    display: inline-block;
    background-color: none;
} */

.dropdown-list a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /* justify-content: center; */
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}

.dropdown-list a:hover {
    color: black;
    background-color: #ddd;
}

.dropdown-list a.active {
    /* background-color: #04AA6D; */
    background-color: none;
    color: white;
}

.dropdown-list a.active:hover{
    color: black;
    background-color: whitesmoke;
}

.dropdown-list .icon{
    display: none;
}

@media all and (max-width: 700px) {
    .dropdown-list a:not(:first-child){display: none;}
    .dropdown-list a.icon {
        float: right;
        display: block;
        margin-left: auto;
    }
    /* .dropdown-list{
        flex-wrap: wrap;
    } */
    /* .dropdown-list > a{
        flex: 1 1 50%;
    } */
    .dropdown-list #home{
        text-align: left;
    }
    .dropdown-list .icon{
        text-align: right;
    }
    .dropdown-list{
        flex-wrap: wrap;
        /* flex: 1 1 100%; */
    }
    /* .dropdown-list>a{
        flex: 1 1 10%;
    } */

}

@media all and (max-width: 700px) {
    .dropdown-list.responsive {position: relative;}
    .dropdown-list.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }   
    .dropdown-list.responsive a{
        float: none;
        display: inline;
        text-align: left;
        flex: 1 1 100%;
        /* margin: 5px 0; */
    }
    
    .dropdown-list{
        flex-wrap: wrap;
    }

    .dropdown-list > a{
        flex: 1 1 40%;
    }
    /* .dropdown-list a.active:hover{
        color: white;
        background-color: none;
    } */

}

/* Name-social-container */

#name-social-container{
    margin: 20vh;
    /* margin: auto auto; */
}

@media all and (max-width: 700px) {

    #name-social-container{
        margin: 4 auto;
        /* margin: auto auto; */
    }
    
}

#my-name{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}


/* Common Classes */
 .text-center{
    text-align: center; 
 }

 .social-icons li a i{
     padding: 10px;
     font-size: 1rem;
     border-radius: 50%;
     color: blue;
 }

 .social-icons li a i:hover{
     box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.2);
 }

section{
    width: 100%;
    /* height: 75vh; */
    height: auto;
    /* margin-bottom: 30px; */
    /* margin-bottom: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellowgreen; i have added this to check only */
}

section:nth-child(2n){
    background-color: rgb(250, 232, 250);
}

/* section:nth-child(2n+1){ */
    /* background-color: white; */
    /* background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    /* background-color: rgba(168, 128, 155, 0.199); */
/* } */

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: blue;
    color: var(--section-color-blue);
    display: inline-block;
    padding-top: 10px;
    /* margin-bottom: 300px; */
    margin-right: 0.5rem;
}

/* section:target{
    background-color: cyan;
} */




/* About section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -14vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    rotate: 6deg;
    /* zoom: 5%; */
    transform: scale(1.1);
    /* box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.5); */
}

#about-para{
    margin: 10px 50px 10px 50px;
    justify-content: center;
    text-align: justify;
    font-weight: 500;
    color: grey;
    padding: 10px;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}

/* Skills section */

#skills-container{
    display: flex;
    margin: 0 0 30px 0 ;
}


.skills-display{
    width: auto;
    /* border: 2px solid black; */
    /* height: 100px; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

.skill-progress{
    width: 7rem;
    height: 1.4rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    border: 2px solid black;
    margin: 20px;
}

.skill-progress>div{
    border-radius: 20px;
}


.skill-name{
    font-size: 15px;
    color: white;
    padding: 2px 0 5px 5px;
}

.skill-name span{
    margin: 0;
    color: white;
    font-size: 1rem;
    /* margin-left: 5px; */
    padding: 10px 10px;
}


/* Timeline */

.timeline{
    position: relative;
    width: 75%;
    /* height:fit-content; */
    /* border: 2px solid black; */
    margin-bottom: 100px;
}


.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /* border: 2px solid black; */
}

.timeline-box:nth-child(2n){
    left: 53%;
}


.timeline-box:nth-child(2n+1):after{
    content: '';
    position: absolute;
    right: -12.5%;
    top: 38%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    z-index: 1;
}

.timeline-box:nth-child(2n):after{
    content: '';
    position: absolute;
    left: -9%;
    top: 38%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    z-index: 1;
}


.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 1px dashed #0096fa6b;
    top: 10%;
    left: 50%;
    padding: 0px;

}

@media screen and (max-width: 600px) {
    .timeline-divider{
        left: 5%;
    }

    .timeline-box{
        left: 12% !important;
        width: 80%;
    }

    /* .timeline-box:nth-child(2n){
        left: 12%;
    } */

    .timeline-box::after{
        left: -12% !important;
    }

    html{
        font-size: 15px;
    }


/* 
    .timeline-box:nth-child(2n+1)::after{
        left: -12%;
    }

    .timeline-box:nth-child(2n)::after{
        left: -12%;
    } */

}


.timeline-traveller{
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
    margin-top: -8px;

}

/* Education */

.edu-timeline{
    position: relative;
    margin-bottom: 100px;
    width: 75%;
    /* border: 2px solid black; */
}

.edu-timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /* border: 2px solid black; */
}

.edu-timeline-box:nth-child(2n){
    left: 53%;
}

.edu-timeline-box:nth-child(2n+1):after{
    content: '';
    position: absolute;
    right: -12.5%;
    top: 38%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    z-index: 1;
}

.edu-timeline-box:nth-child(2n):after{
    content: '';
    position: absolute;
    left: -11%;
    top: 38%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    z-index: 1;
}

.edu-timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 1px dashed #0096fa6b;
    top: 10%;
    left: 50%;
    z-index: 1;

}

@media screen and (max-width: 600px) {
    
    .edu-timeline-divider{
        left: 5%;
    }

    
    .edu-timeline-box{
        left: 12% !important;
        width: 80%;
    }

    .edu-timeline-box::after{
        left: -12% !important;
    }

    html{
        font-size: 15px;
    }


}


.edu-timeline-travellor{
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
}


/* Portfolio */
#porfolio{
    display: relative;
}

#container-portfolio{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#container-portfolio .portfolio-image{
    /* border: 2px solid brown; */
    margin: 10px 5px;
    padding: 10px;
    border-radius: 23px;
    /* background-color: rgb(250, 232, 250); */
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

#container-portfolio .portfolio-image img{
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.portfolio-image{
    position: relative;
    /* width: 400px; */
    /* width: 50%; */
}

.port-hover{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.portfolio-image:hover .image{
    opacity: 0.3; 
}

.portfolio-image:hover .port-hover{
    opacity: 1;
}

/* .portfolio-image .port-hover:hover{
    color: lightgrey;
    z-index: -1;
    border-bottom: 1px solid black;
} */

/* #container-portfolio .portfolio-image p{
    text-align: center;
    font-size: 1.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */



/* Contact Section */

#contact{
    /* height: auto; */
    /* background-image: linear-gradient(to right, rgb(202, 65, 202), rgb(155, 155, 216)); */
    background-color: #313096;
    background-image: linear-gradient(180deg, #180947 20%, #6f5f94 100%);

}


/* changes */
#contact-box{
    width: 40%;
}

.call-karlo{
    position: relative;
    padding: 25px;
    margin: 50px;
}

/* .second-column{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-left: 4px;
} */


/* #contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
} */

/* #contact-box form{
    width: 40%;
} */

/* #contact-box label{
    font-size: 1rem;
} */

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.1rem;
    /* border-radius: 8px; */
    /* border: none; */
    font-size: 1rem;
    background: transparent;
}



.apna-form{
    position: absolute;
    /* display: flex; */
    left: 15px;
    width: 45%;
    /* top: 50px; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    height: auto;
    /* align-items: center; */
    justify-content: center;
}

.form-container{
    margin: 5px;
    padding: 5px;
}

/* changes */
.form-container input{
    padding: 4px;
    font-size: 1.2rem;

    /* border: none; */
    /* text-decoration: 2px solid white; */
}

.form-container input[type=text]{
    border: none;
    border-bottom: 1px solid white;
}

.form-container input[type=number]{
    border: none;
    border-bottom: 1px solid white;
}

.form-container input[type=email]{
    border: none;
    border-bottom: 1px solid white;
}

.form-container textarea{
    border: none;
    border-bottom: 1px solid white;
}

/* .apna-form label{
    font-size: 1.3rem;
} */


/* .first-column{
    width: 50%;
    height: auto;
} */

/* changes doing in second column */
.second-column{
    /* display: inline-block; */
    width: 50%;
    vertical-align: top;
    float: right;
    right: 20px;
}


/* .second-column  .section-heading{
    font-size: 0.5rem;
} */



/* Footer Section */

footer{
    background: black;
    color: white;
    height: 20px;
    padding: 5px;
    justify-content: space-between;
}

.footer-left{
    float: left;
    font-size: 15px;
}

.footer-right{
    float: right;
    font-size: 15px;
}

/* Common Classes */

.para{
    color: black;
    font-size: 1rem;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

.heading-ke-liye{
    font-size: 28px;
    margin: 5px;
}

.date{
    color: grey;
    text-align: center;
    margin: 2px;
}

.blue{
    color: blue;
    font-weight: 700;
    text-align: center;
    font-size: 1.1rem;
    margin: 2px;
}

.orange{
    color: rgb(231, 164, 38);
    font-weight: 700;
    text-align: center;
    margin: 2px;
}

.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text{
    /* background-color: #04AA6D; */
    color: black;
    font-family:'Josefin Sans', sans-serif;
    font-size: 20px;
    top: 30%;
    left: 50%;
    /* text-align: center; */
}

.mb65px{
    margin-bottom: 65px;
}

.text-highlight{
    color: blue;
    color: var(--section-color-blue);
    font-weight: 600;
}

.mb-blue{
    background-color: var(--section-color-blue);
}

.mb-orange{
    background-color: orange;
}

.mb-mehroon{
    background-color: rgb(150, 103, 103);
}

.mb-green{
    background-color: green;
}

.btn{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding: 6px 10px; */
    background-color: transparent;
    /* margin-bottom: 10px; */
    border: 2px solid white;
    /* margin: 10px; */
    margin-top: 5px;
    font-size: 1.2rem;
    border-radius: 35px 10em 10%;
    /* border-top: 10px; */
    cursor: pointer;
}


/* Percentage Classes */

.eighty-five-percent{
    width: 85%;
    height: inherit;
}

.hundred-percent{
    width: 100%;
    height: inherit;
}

.ninety-percent{
    width: 90%;
    height: inherit;
}

.twenty-percent{
    width: 20%;
    height: inherit;
}

.seventy-percent{
    width: 70%;
    height: inherit;
}


/* for disabling arrows which comes in input numeric value in form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}